<appSettings>
    <add key="BaasUrl" value="http://your-local-ip:9090" />
    <add key="BaasUrl" value="http://your-local-ip:9090" />
    <add key="BaasUrl" value="http://your-local-ip:9090" />
    <add key="BaasUrl" value="http://your-local-ip:9090" />
    <add key="BaasUrl" value="http://your-local-ip:9090" />
    <add key="BaasUrl" value="http://your-local-ip:9090" />
    <add key="BaasUrl" value="http://your-local-ip:9090" />
</appSettings>