
*.userprefs
/realm/*.sdf
/realm/ipch
/realm/*.opensdf
.vs
/tightdb/native/tightdb_c_cs/tightdb_c_cs2012/x64
/tightdb/native/tightdb_c_cs/tightdb_c_cs2012/release
packages
realm/Tools/RealmWeaver.Fody.dll
realm/wrappers/DerivedData
realm/wrappers/core/*.a
realm/wrappers/core/*.lib

### Xcode ###
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData*.xcuserstate
*.xcuserstate
/realm/Tests/*.ncrunchproject
/tightdb/examples/TutorialSolution/*.dll
/tightdb/examples/TutorialSolution/*.user
/tightdb/examples/TutorialSolution/bin
/realm/Tools/RealmNetWeaver.Fody.dll
*.ncrunchproject
*.opensdf
*.sdf
realm/doxyout
realm/doxyoutCS
*.a
*.so
Resource.Designer.cs
