<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="App.Local.config">
    <!--  
      To simplify testing, you can create an App.Local.config and place it next to this App.config with the following structure:
      <appSettings>
        <add key="BaasUrl" value="http://your-local-ip:9090" />
      </appSettings>
    -->
  </appSettings>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Diagnostics.IgnorePortablePDBsInStackTraces=false" />
  </runtime>
</configuration>