<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings file="App.Local.config">
        <!--  
      To simplify testing, you can create an App.Local.config and place it next to this App.config with the following structure:
      <appSettings>
        <add key="BaasUrl" value="http://your-local-ip:9090" />
      </appSettings>
    -->
    </appSettings>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.Diagnostics.IgnorePortablePDBsInStackTraces=false" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <!-- Because of https://github.com/dotnet/roslyn/issues/61432 -->
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>