<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetCross.Memory.Unsafe" version="0.2.2" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Fody" version="1.29.4" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+Xamarin.TVOS10+xamarinwatchos10+xamarinios10" developmentDependency="true" />
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
</packages>