{
  "root": true,
  "env": {
    "commonjs": true,
    "mocha": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    // I can't get this to work
    // "no-unused-vars": ["warn", { "varsIgnorePattern": "@suite\\s+\\n?class\\s+\\w+\\s*\\{" }]
  }
}