<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Couchbase.Lite" version="1.2.0.3" targetFramework="xamarinios10" />
  <package id="Couchbase.Lite.Storage.SystemSQLite" version="1.2" targetFramework="xamarinios10" />
  <package id="Fody" version="1.29.4" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="xamarinios10" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="xamarinios10" />
  <package id="sqlite-net" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Stateless" version="2.5.21.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.1.0.6529" targetFramework="xamarinios10" />
</packages>