<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nito.AsyncEx.Context" version="1.1.0" targetFramework="monoandroid70" />
  <package id="Nito.AsyncEx.Tasks" version="1.1.0" targetFramework="monoandroid70" />
  <package id="Nito.Disposables" version="1.0.0" targetFramework="monoandroid70" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="monoandroid70" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Threading" version="4.0.11" targetFramework="monoandroid70" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="monoandroid70" />
</packages>