<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="2C365854-354A-419D-AD90-FE6D7DCA6507" Publisher="CN=realm" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="4f50c901-646f-47f4-9a2f-29ccb95c138c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>io.realm.nugettests</DisplayName>
    <PublisherDisplayName>Realm</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="io.realm.nugettests.App">
      <uap:VisualElements DisplayName="NuGet Tests" Square150x150Logo="Assets\MediumTile.png" Square44x44Logo="Assets\Logo.png" Description="Tests for Realm Xamarin" BackgroundColor="transparent">
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>