![Tests passed successfully](https://img.shields.io/badge/tests-833%20passed%2C%206%20skipped-success)
## ✔️ <a id="user-content-r0" href="#r0">fixtures/external/mocha/mocha-test-results.json</a>
**839** tests were completed in **6s** with **833** passed, **0** failed and **6** skipped.
|Test suite|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|test/node-unit/buffered-worker-pool.spec.js|14✔️|||8ms|
|test/node-unit/cli/config.spec.js|10✔️|||8ms|
|test/node-unit/cli/node-flags.spec.js|105✔️|||9ms|
|test/node-unit/cli/options.spec.js|36✔️|||250ms|
|test/node-unit/cli/run-helpers.spec.js|9✔️|||8ms|
|test/node-unit/cli/run.spec.js|40✔️|||4ms|
|test/node-unit/mocha.spec.js|24✔️|||33ms|
|test/node-unit/parallel-buffered-runner.spec.js|19✔️|||23ms|
|test/node-unit/reporters/parallel-buffered.spec.js|6✔️|||16ms|
|test/node-unit/serializer.spec.js|40✔️|||31ms|
|test/node-unit/stack-trace-filter.spec.js|2✔️||4✖️|1ms|
|test/node-unit/utils.spec.js|5✔️|||1ms|
|test/node-unit/worker.spec.js|15✔️|||92ms|
|test/unit/context.spec.js|8✔️|||5ms|
|test/unit/duration.spec.js|3✔️|||166ms|
|test/unit/errors.spec.js|13✔️|||5ms|
|test/unit/globals.spec.js|4✔️|||0ms|
|test/unit/grep.spec.js|8✔️|||2ms|
|test/unit/hook-async.spec.js|3✔️|||1ms|
|test/unit/hook-sync-nested.spec.js|4✔️|||1ms|
|test/unit/hook-sync.spec.js|3✔️|||0ms|
|test/unit/hook-timeout.spec.js|1✔️|||0ms|
|test/unit/hook.spec.js|4✔️|||0ms|
|test/unit/mocha.spec.js|115✔️||1✖️|128ms|
|test/unit/overspecified-async.spec.js|1✔️|||3ms|
|test/unit/parse-query.spec.js|2✔️|||1ms|
|test/unit/plugin-loader.spec.js|41✔️||1✖️|16ms|
|test/unit/required-tokens.spec.js|1✔️|||0ms|
|test/unit/root.spec.js|1✔️|||0ms|
|test/unit/runnable.spec.js|55✔️|||122ms|
|test/unit/runner.spec.js|77✔️|||43ms|
|test/unit/suite.spec.js|57✔️|||14ms|
|test/unit/test.spec.js|15✔️|||0ms|
|test/unit/throw.spec.js|9✔️|||9ms|
|test/unit/timeout.spec.js|8✔️|||109ms|
|test/unit/utils.spec.js|75✔️|||24ms|