<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="3.0.3" targetFramework="net46" developmentDependency="true" />
  <package id="FodyHelpers" version="3.0.3" targetFramework="net46" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="2.5.6" targetFramework="net46" developmentDependency="true" />
  <package id="StyleCop.MSBuild" version="5.0.0" targetFramework="net46" developmentDependency="true" />
</packages>