<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="2.0.6" targetFramework="net45" developmentDependency="true" />
  <package id="FodyCecil" version="2.0.6" targetFramework="net45" developmentDependency="true" userInstalled="true" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.53.0" targetFramework="net45" developmentDependency="true" />
  <package id="StyleCop.MSBuild" version="4.7.54.0" targetFramework="net45" developmentDependency="true" />
</packages>