<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Couchbase.Lite" version="1.2.1.1" targetFramework="xamarinios10" />
  <package id="Couchbase.Lite.Storage.ForestDB" version="1.2.1.1" targetFramework="xamarinios10" />
  <package id="Couchbase.Lite.Storage.SQLCipher" version="1.2.1.1" targetFramework="xamarinios10" />
  <package id="Couchbase.Lite.Storage.SystemSQLite" version="1.2.1.1" targetFramework="xamarinios10" />
  <package id="DotNetCross.Memory.Unsafe" version="0.2.2" targetFramework="xamarinios10" />
  <package id="Fody" version="1.29.4" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="xamarinios10" />
  <package id="Realm" version="0.77.2" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="xamarinios10" />
  <package id="sqlite-net" version="1.0.8" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw" version="0.8.6" targetFramework="xamarinios10" />
  <package id="SQLitePCL.ugly" version="0.8.6" targetFramework="xamarinios10" />
  <package id="Stateless" version="2.5.62.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.2.0.31" targetFramework="xamarinios10" />
</packages>