name: cleanup-baas
"on":
  workflow_call:
    secrets:
      AtlasProjectId:
        required: true
      BaseUrl:
        required: true
      AtlasBaseUrl:
        required: true
      AtlasPublicKey:
        required: true
      AtlasPrivateKey:
        required: true
env:
  REALM_DISABLE_ANALYTICS: true
  DOTNET_NOLOGO: true
jobs:
  cleanup-baas:
    runs-on: ubuntu-latest
    name: Cleanup Cluster
    timeout-minutes: 5
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: false
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: realm/ci-actions/mdb-realm/cleanup@30bd9ead57756016f2e2ac7630433cf0883d1bae
      with:
        projectId: ${{ secrets.AtlasProjectId}}
        realmUrl: ${{ secrets.BaseUrl }}
        atlasUrl: ${{ secrets.AtlasBaseUrl}}
        apiKey: ${{ secrets.AtlasPublicKey}}
        privateApiKey: ${{ secrets.AtlasPrivateKey }}
