name: deploy-baas
"on":
  workflow_call:
    inputs:
      differentiators:
        required: true
        type: string
      BaseUrl:
        required: true
        type: string
      AtlasBaseUrl:
        required: true
        type: string
    outputs:
      clusterName:
        value: ${{ jobs.deploy-baas.outputs.clusterName }}
    secrets:
      AtlasProjectId:
        required: true
      AtlasPublicKey:
        required: true
      AtlasPrivateKey:
        required: true
env:
  REALM_DISABLE_ANALYTICS: true
  DOTNET_NOLOGO: true
jobs:
  deploy-baas:
    runs-on: ubuntu-latest
    name: Deploy Cluster
    outputs:
      clusterName: ${{ steps.deploy-cluster.outputs.clusterName }}
    timeout-minutes: 20
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: false
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: realm/ci-actions/mdb-realm/deploy@91ef434f7407cbdbd878f340b96f1dfb498e3010
      id: deploy-cluster
      with:
        projectId: ${{ secrets.AtlasProjectId}}
        realmUrl: ${{ inputs.BaseUrl }}
        atlasUrl: ${{ inputs.AtlasBaseUrl}}
        apiKey: ${{ secrets.AtlasPublicKey}}
        privateApiKey: ${{ secrets.AtlasPrivateKey }}
  deploy-apps:
    name: Deploy Apps
    needs: deploy-baas
    runs-on: ubuntu-latest
    strategy:
      matrix:
        differentiator: ${{ fromJson(inputs.differentiators) }}
    if: always() && !cancelled() && !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled')
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: false
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Deploy Apps
      run: dotnet run . --baasurl=${{ inputs.BaseUrl }} --baascluster=${{ needs.deploy-baas.outputs.clusterName }} --baasapikey=${{ secrets.AtlasPublicKey }} --baasprivateapikey=${{ secrets.AtlasPrivateKey }} --baasprojectid=${{ secrets.AtlasProjectId }} --baasdifferentiator=${{ matrix.differentiator }}
      working-directory: Tools/DeployApps