name: PR Build
"on":
  pull_request:
    paths:
    - '**.cs'
    - '**.cpp'
    - '**.hpp'
    - '**.csproj'
    - '**CMakeLists.txt'
    - '**.ps1'
    - '**.sh'
    - '**.props'
    - wrappers/realm-core
    - .github/workflows/*.yml
    - '!.github/workflows/main.yml'
    - '!.github/workflows/publish-*.yml'
env:
  REALM_DISABLE_ANALYTICS: true
  DOTNET_NOLOGO: true
jobs:
  build-wrappers:
    uses: ./.github/workflows/wrappers.yml
    name: Wrappers
  deploy-cluster:
    uses: ./.github/workflows/deploy-baas.yml
    with:
      differentiators: '["code-coverage"]'
    secrets:
      AtlasProjectId: ${{ secrets.ATLAS_QA_PROJECT_ID }}
      BaseUrl: ${{ secrets.REALM_QA_BASE_URL }}
      AtlasBaseUrl: ${{ secrets.ATLAS_QA_BASE_URL }}
      AtlasPublicKey: ${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}
      AtlasPrivateKey: ${{ secrets.ATLAS_QA_PRIVATE_API_KEY }}
  build-packages:
    uses: ./.github/workflows/build-packages.yml
    name: Package
    needs:
    - build-wrappers
    with:
      build-docs: ${{ contains(github.head_ref, 'release') }}
  cleanup-cluster:
    uses: ./.github/workflows/cleanup-baas.yml
    if: always()
    name: Cleanup
    needs:
    - test-code-coverage
    secrets:
      AtlasProjectId: ${{ secrets.ATLAS_QA_PROJECT_ID }}
      BaseUrl: ${{ secrets.REALM_QA_BASE_URL }}
      AtlasBaseUrl: ${{ secrets.ATLAS_QA_BASE_URL }}
      AtlasPublicKey: ${{ secrets.ATLAS_QA_PUBLIC_API_KEY }}
      AtlasPrivateKey: ${{ secrets.ATLAS_QA_PRIVATE_API_KEY }}
