name: Publish Release
"on": workflow_dispatch
jobs:
  main:
    runs-on: windows-latest
    environment: Production
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: false
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Download all artifacts
      uses: dawidd6/action-download-artifact@d0f291cf39bd21965ea9c4c6e210fc355c3844ed
      with:
        workflow: main.yml
        commit: 11777136f471106f93aac9bb157f6e7050244987
        path: ${{ github.workspace }}/Realm/packages/
    - name: Read version
      id: get-version
      run: |
        $nupkgName = ls "Realm/packages" | Select -expandproperty Name | Select-String Realm.Fody
        $nupkgName -match "(?sm)\d{1,2}\.\d{1,2}\.\d{1,2}(?:-[a-zA-Z]*\.\d{1,2})?"
        $version = $Matches[0]
        echo "::set-output name=version::$version"
    - uses: actions/setup-node@v2
      with:
        node-version: 12.x
        registry-url: https://registry.npmjs.org
    - name: Npm Publish io.realm.unity-${{ steps.get-version.outputs.version }}
      run: npm publish ${{ github.workspace }}/Realm/packages/io.realm.unity-${{ steps.get-version.outputs.version }}.tgz/io.realm.unity-${{ steps.get-version.outputs.version }}.tgz
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    - name: Find Release PR
      uses: juliangruber/find-pull-request-action@f9f7484f8237cf8485e5ab826e542ba5dd9e9c6e
      id: find-pull-request
      with:
        branch: ${{ github.ref }}
    - name: Merge Pull Request
      uses: juliangruber/merge-pull-request-action@8a13f2645ad8b6ada32f829b2fae9c0955a5265d
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        number: ${{ steps.find-pull-request.outputs.number }}
        method: squash
    - name: Publish Github Release
      uses: ncipollo/release-action@10c84d509b28aae3903113151bfd832314964f2e
      with:
        artifacts: Realm/packages/io.realm.unity-${{ steps.get-version.outputs.version }}.tgz/io.realm.unity-${{ steps.get-version.outputs.version }}.tgz
        bodyFile: Realm/Realm/ExtractedChangelog/ExtractedChangelog.md
        name: ${{ steps.get-version.outputs.version }}
        commit: master
        tag: ${{ steps.get-version.outputs.version }}
        token: ${{ secrets.GITHUB_TOKEN }}
        draft: false
    - name: Update Changelog
      run: |
        echo "## vNext (TBD)

        ### Enhancements
        * None

        ### Fixed
        * None

        ### Compatibility
        * Realm Studio: 11.0.0 or later.

        ### Internal
        * Using Core x.y.z.
        " | cat - CHANGELOG.md >> temp
        mv temp CHANGELOG.md
    - name: Create vNext PR
      id: vnext-pr
      uses: peter-evans/create-pull-request@7380612b49221684fefa025244f2ef4008ae50ad
      with:
        branch: prepare-vnext
        title: Prepare for vNext
        body: Update Changelog for vNext
        delete-branch: true
        base: master
    - name: Merge Pull Request
      uses: juliangruber/merge-pull-request-action@8a13f2645ad8b6ada32f829b2fae9c0955a5265d
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        number: ${{ steps.vnext-pr.outputs.pull-request-number }}
        method: squash
    - name: 'Post to #realm-releases'
      uses: realm/ci-actions/release-to-slack@v3
      with:
        changelog: Realm/Realm/ExtractedChangelog/ExtractedChangelog.md
        sdk: .NET
        webhook-url: ${{ secrets.SLACK_RELEASE_WEBHOOK }}
        version: ${{ steps.get-version.outputs.version }}
