name: test-net-core
"on":
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      framework:
        required: true
        type: string
    secrets:
      BaaSaasApiKey:
        required: false
env:
  REALM_DISABLE_ANALYTICS: true
  DOTNET_NOLOGO: true
jobs:
  run-tests:
    runs-on: ${{ matrix.os.runner }}
    name: ${{ matrix.framework }}, ${{ (matrix.os.runner == 'win81' && 'win81') || matrix.os.runtime }}
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        os:
        - runner: windows-latest
          runtime: win-x64
        - runner: ubuntu-latest
          runtime: linux-x64
        - runner: macos-13
          runtime: osx-x64
        framework: ${{ fromJson(inputs.framework) }}
        include:
        - framework: net8.0
          os:
            runner: macos-14
            runtime: osx-arm64
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        submodules: false
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Register csc problem matcher
      run: echo "::add-matcher::.github/problem-matchers/csc.json"
    - name: Register msvc problem matcher
      run: echo "::add-matcher::.github/problem-matchers/msvc.json"
    - name: Cleanup Workspace
      run: git clean -fdx
    - name: Fetch Realm.PlatformHelpers
      uses: actions/download-artifact@v4
      with:
        name: Realm.PlatformHelpers.${{ inputs.version }}
        path: ${{ github.workspace }}/Realm/packages/
    - name: Fetch Realm
      uses: actions/download-artifact@v4
      with:
        name: Realm.${{ inputs.version }}
        path: ${{ github.workspace }}/Realm/packages/
    - name: Clear nuget cache
      run: dotnet nuget locals all --clear
      if: ${{ matrix.os.runner == 'win81' }}
    - name: Configure .NET
      uses: actions/setup-dotnet@3e6b9fe3930cac7c59c651af5de1514b47a805b9
      with:
        dotnet-version: 8.0.x
    - name: Publish Tests/Realm.Tests
      run: dotnet publish Tests/Realm.Tests -c Release -f ${{ matrix.framework }} -r ${{ matrix.os.runtime }} -p:RestoreConfigFile=Tests/Test.NuGet.Config -p:UseRealmNupkgsWithVersion=${{ inputs.version }} -p:RealmTestsStandaloneExe=true --no-self-contained
    - name: Output executable path
      id: dotnet-publish
      run: echo 'executable-path=./Tests/Realm.Tests/bin/Release/${{ matrix.framework }}/${{ matrix.os.runtime }}' >> $GITHUB_OUTPUT
      shell: bash
    - name: Run the tests
      env:
        DOTNET_DbgEnableMiniDump: 1
        DOTNET_EnableCrashReport: 1
      run: ${{ steps.dotnet-publish.outputs.executable-path }}/Realm.Tests --result=TestResults.xml --labels=After
    - name: Archive core dump
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: crash-report-net-core-${{ matrix.runner }}-${{ matrix.runtime }}
        path: /tmp/coredump*
    - name: Publish Unit Test Results
      uses: LaPeste/test-reporter@510caf50a955b1003bec48a6494be4d6537f3a0b
      if: always()
      with:
        name: Results .NET (${{ matrix.os.runner }}, ${{ matrix.framework }})
        path: TestResults.xml
        reporter: java-junit
        list-suites: failed
        list-tests: failed
        path-replace-backslashes: true
        fail-on-error: true
