name: test-android
"on":
  workflow_call:
    inputs:
      version:
        required: true
        type: string
    secrets:
      BaaSaasApiKey:
        required: false
      AWS_DEVICEFARM_ACCESS_KEY_ID:
        required: true
      AWS_DEVICEFARM_SECRET_ACCESS_KEY:
        required: true
      DEVICEFARM_PROJECT_ARN:
        required: true
      DEVICEFARM_ANDROID_POOL_ARN:
        required: true
env:
  REALM_DISABLE_ANALYTICS: true
  DOTNET_NOLOGO: true
jobs:
  test-xamarin:
    runs-on: windows-latest
    name: Xamarin.Android
    timeout-minutes: 60
    steps:
    - name: Setup JDK
      uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0
      with:
        distribution: microsoft
        java-version: 11
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        submodules: false
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Register csc problem matcher
      run: echo "::add-matcher::.github/problem-matchers/csc.json"
    - name: Register msvc problem matcher
      run: echo "::add-matcher::.github/problem-matchers/msvc.json"
    - name: Fetch Realm.PlatformHelpers
      uses: actions/download-artifact@v4
      with:
        name: Realm.PlatformHelpers.${{ inputs.version }}
        path: ${{ github.workspace }}/Realm/packages/
    - name: Fetch Realm
      uses: actions/download-artifact@v4
      with:
        name: Realm.${{ inputs.version }}
        path: ${{ github.workspace }}/Realm/packages/
    - name: Deploy Baas (alternative)
      env:
        apiKey: ${{ secrets.BaaSaasApiKey }}
      if: ${{ env.apiKey }}
      run: dotnet run deploy-apps --baasaas-api-key=${{ secrets.BaaSaasApiKey }} --baas-differentiator=android-${{ github.run_id }}-${{ github.run_attempt }}
      working-directory: Tools/DeployApps
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@0b44c6745b7e81956596964100aadb92d667c497
      if: ${{ runner.os == 'Windows' }}
    - name: Build Tests/Tests.Android
      run: msbuild Tests/Tests.Android -t:SignAndroidPackage -p:Configuration=Release -restore -p:RestoreConfigFile=Tests/Test.NuGet.Config -p:UseRealmNupkgsWithVersion=${{ inputs.version }} -p:AndroidUseSharedRuntime=False -p:EmbedAssembliesIntoApk=True
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1-node16
      with:
        aws-access-key-id: ${{ secrets.AWS_DEVICEFARM_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_DEVICEFARM_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
    - name: Run the tests
      uses: ./.github/actions/run-android-device-farm-test
      id: run_tests
      with:
        apk-path: ${{ github.workspace }}/Tests/Tests.Android/bin/Release/io.realm.xamarintests-Signed.apk
        app-id: io.realm.xamarintests
        project-arn: ${{ secrets.DEVICEFARM_PROJECT_ARN }}
        device-pool-arn: ${{ secrets.DEVICEFARM_ANDROID_POOL_ARN }}
        arguments: ' --baasaas-api-key=${{ secrets.BaaSaasApiKey}} --baas-differentiator=android-${{ github.run_id }}-${{ github.run_attempt }}'
    - name: Publish Unit Test Results
      uses: LaPeste/test-reporter@510caf50a955b1003bec48a6494be4d6537f3a0b
      if: always()
      with:
        name: Results Xamarin.Android
        path: ${{ steps.run_tests.outputs.test-results-path }}
        reporter: java-junit
        list-suites: failed
        list-tests: failed
        path-replace-backslashes: true
        fail-on-error: true
  test-maui:
    runs-on: windows-latest
    name: Maui.Android
    timeout-minutes: 60
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        submodules: false
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Register csc problem matcher
      run: echo "::add-matcher::.github/problem-matchers/csc.json"
    - name: Register msvc problem matcher
      run: echo "::add-matcher::.github/problem-matchers/msvc.json"
    - name: Fetch Realm.PlatformHelpers
      uses: actions/download-artifact@v4
      with:
        name: Realm.PlatformHelpers.${{ inputs.version }}
        path: ${{ github.workspace }}/Realm/packages/
    - name: Fetch Realm
      uses: actions/download-artifact@v4
      with:
        name: Realm.${{ inputs.version }}
        path: ${{ github.workspace }}/Realm/packages/
    - name: Configure .NET
      uses: actions/setup-dotnet@3e6b9fe3930cac7c59c651af5de1514b47a805b9
      with:
        dotnet-version: 8.0.x
    - name: Setup workloads
      run: dotnet workload install maui
    - name: Setup JDK
      uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0
      with:
        distribution: microsoft
        java-version: 11
    - name: Build the tests
      run: dotnet publish Tests/Tests.Maui -c Release -f net8.0-android -p:RestoreConfigFile=Tests/Test.NuGet.Config -p:UseRealmNupkgsWithVersion=${{ inputs.version }}
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1-node16
      with:
        aws-access-key-id: ${{ secrets.AWS_DEVICEFARM_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_DEVICEFARM_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
    - name: Run the tests
      uses: ./.github/actions/run-android-device-farm-test
      id: run_tests
      with:
        apk-path: ${{ github.workspace }}/Tests/Tests.Maui/bin/Release/net8.0-android/publish/io.realm.mauitests-Signed.apk
        app-id: io.realm.mauitests
        project-arn: ${{ secrets.DEVICEFARM_PROJECT_ARN }}
        device-pool-arn: ${{ secrets.DEVICEFARM_ANDROID_POOL_ARN }}
    - name: Transform Results
      run: xsltproc --output ${{ steps.run_tests.outputs.test-results-path }}_transformed.xml Tests/Realm.Tests/EmbeddedResources/nunit3-junit.xslt ${{ steps.run_tests.outputs.test-results-path }}
      shell: bash
    - name: Publish Unit Test Results
      uses: LaPeste/test-reporter@510caf50a955b1003bec48a6494be4d6537f3a0b
      if: always()
      with:
        name: Results Maui.Android
        path: ${{ steps.run_tests.outputs.test-results-path }}_transformed.xml
        reporter: java-junit
        list-suites: failed
        list-tests: failed
        path-replace-backslashes: true
        fail-on-error: true
